<div class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">
            <!-- Left Column -->
            <div class="w3-third">
                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                        </div>
                    </div>
                    <div class="w3-container w3-text-black">
                        <h2>Manikandan</h2>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Angular Developer
                        </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> Chennai,Tamil nadu</p>
                        <p><i
                                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rmanikandan901@gmail.com
                        </p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(+91) 9952578838</p>
                        <hr>

                        <p class="w3-large"><b><i
                                    class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>Angular</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>NodeJS</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">50%</div>
                        </div>
                        <p>ExpressJS</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">50%</div>
                        </div>
                        <p>HTML5</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>CSS3</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>Bootstrap</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">80%</div>
                        </div>
                        <p>JavaScript</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">80%</div>
                        </div>
                        <p>TypeScript, ES5 and ES6</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                        </div>
                        <p>Visual Studio</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>Java</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">80%</div>
                        </div>
                        <br>

                        <p class="w3-large w3-text-theme"><b><i
                                    class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p>English</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>

                        </div>
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
                    </h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Front End Developer / KriyaTec IT systems</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2020 - <span
                                class="w3-tag w3-teal w3-round">Current</span></h6>
                        <ul>
                            <li>Implemented Angular Services for connectivity between web application and back end
                                API’s.</li>
                            <li>Because of Angular JS weaknesses such as loading start time and optimization for search
                                engines, migrated from Angular JS to Angular with Typescript. </li>
                            <li> Created Angular components implemented Interpolation, Input variables, Bootstrapping,
                                NgFor, NgIf, RouterOutlet, binding the click event, Component decorator, binding to the
                                hidden property. </li>
                            <li> Well versed with TypeScript types, tuples, interfaces, classes, modules.
                            </li>
                            <li> Used TSLint tool that checks TypeScript code for readability, maintainability and
                                functional errors
                            <li>Used SASS, SCSS for code minification.</li>
                            <li>Used Webpack to bundle TypeScript and JavaScript modules. </li>
                            <li>Easily loaded stylesheets, data, templates and scripts using Babel.</li>
                            <li>Managed source control and version control using GIT.</li>
                            <li>Experienced in using JIRA for bug tracking, issue tracking and project management
                                purpose.</li>
                            <li>First rate skills in using different text editors and IDE’s like Microsoft Visual
                                Studio.</li>
                            <li>Experienced in Agile Software methodology.</li>

                        </ul>

                        <hr>
                    </div>
                    <!-- <div class="w3-container">
                        <h5 class="w3-opacity"><b>Front End Dev - App Logic</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012
                        </h6>
                        <ul>
                            <li>
                                Designed wireframes, mock-ups and proto-typing using MS Visio.</li>
                            <li> Experience in designing logos, images, icons, graphics and user interfaces using Adobe
                                Dream Weaver, Adobe Photoshop and Adobe Illustrator.</li>
                            <li> Responsible in implementation of the presentation layer (GUI) for the application using
                                HTML4, DHTML, CSS2.1/3 and JavaScript.</li>
                            <li>Experience in working with CSS backgrounds, fonts, layouts, margins, padding, pseudo
                                classes, box models etc.</li>
                            <li>Handled all the client side validations, slide show, hide and show controls, dropdown
                                menus and tab navigation using JQUERY.</li>
                            <li>Experience in developing Responsive Web Design applications using CSS3 Media Queries and
                                Bootstrap.</li>
                            <li>Involved in writing application level code to interact with APIs, SOAP Web Services
                                using AJAX and XML.</li>
                            <li> Developed database tables, functions, triggers and stored procedures for different
                                databases like SQL Server, MySQL and Oracle.</li>
                            <li> Worked closely with testing team to test the applications in Q Unit and JS Unit.</li>
                            <li>Testing browser compatibility and addressing browser compatibility issues hence worked
                                with different browsers like Safari, Google Chrome, Mozilla Firefox and Internet
                                Explorer.</li>
                            <li>Extensive experience in testing, debugging and troubleshooting the existing code using
                                chrome inspector tools and Firebug.</li>
                            <li>Experience in working with WebSphere, WebLogic, Apache Tomcat and HTTP Server.</li>
                            <li>Experience in working with different Text Editors and IDE's like Notepad++ and Visual
                                Studio.</li>
                            <li>Experienced in Waterfall Software Development Life Cycle (SDLC) includes Analysis,
                                Design, Development, Testing and Deployment.

                            </li>
                        </ul>
                    </div>
                </div> -->

                <div class="w3-container w3-card-2 w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i
                            class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Agni College of Technology</b></h5>
                        <p>Bachelor Of Engineering</p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>K.S.C Govt HSS School</b></h5>
                        <p>10th</p><br>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>K.S.C Govt HSS School</b></h5>
                        <p>12th</p><br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on Linked In.</p>

        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Copyright © Manikandan</p>
    </footer>
</div>